<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherdooni</title>
    
    {% load bootstrap5 %}

    {% bootstrap_css %}
    
    {% bootstrap_javascript %}
    
    {% bootstrap_messages %}
    
    
<body>
        
    <div class="container">
        <div class="row">
            <div class="col-12 bg-red hight-20vh">
                {% block heading %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}

                {% block footer %}
                {% endblock %}
            </div>

        </div>
    </div>

</body>
</html>