<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- It is testing page, so ignore it -->

    
    <center>
        <!-- <h1>{{ stories.0.name }}</h1>
        <p>{{ stories.0.content }}</p> -->
<!--         
        {% for story in stories %}
        <h1>{{ story.name }}</h1>
        <p>{{ story.content }}</p>
        <hr />
        {% endfor %} -->
    </center>

    
    <!-- <div>
        <span><strong>Users</strong></span>
        {% for user in users %}
            
        <div>Name: {{ user.id }}</div>
        <div>Name: {{ user.name }}</div>
        <div>Name: {{ user.email }}</div>
        <br />
        {% endfor %}

    </div> -->
    
</body>
</html>